*{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    background-color:#ACC1E2;
    height: 70px;
    width: calc (100% - 30px);
    font-family: 'Roboto', sans-serif;
    padding-left: 30px; 
    line-height: 70px;
}

main{
    padding-left: 30px;
    font-size: 14px;
    min-height: 480;
}

.containerTitle{
    float: left;
    width: 530px;
    height: calc(90px - 30px);
    background-color: #E4EAF3;
    color: #5C5656;
    padding-left: 30px;
    padding-top: 30px;
}

.triangle{
    width: 0;
    height: 0;
    border-right: 50px solid;
    border-left: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 40px solid transparent;
    position: absolute;
    margin-left: 510px;
    color: white;
}

.start {
float: left;
padding-left: 30px;
height: 60px;
line-height: 80px;
font-size: 14px;
}

.clearfix {
    clear:both;
}

form input[type="text"] {
    width: 500px;
    margin-top: 10px;
}

form label{
text-align: left;
width: 180px;
margin-top: 20px;
margin-bottom: px;
display: inline-block;
}

#agreeline{
    padding-left: 10px;
    width: 500px;
    text-align: left;
}
.selectCard {
    width: fit-content;
    padding-right: 10px;
}

#price{
    font-family: 'Roboto 400', sans-serif;
    font-size: 20px;
}

#alertCard{
    margin-top: 5px;
    margin-left: 185px;
    font-family:'Roboto Bold 700', 'sans-serif' ;
    color: red;
}

article{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    padding-right: 30px;
    padding-bottom: 30px;
    color:#413e3e;
}

#buttonSubmit{
    background-color:#ACC1E2;
    height: 42px;
    width: 193px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#buttonSubmit:hover{
    background-color: #7094ce;
}

footer{
    width: 100%;
   /* bottom: 0%;*/
    /*position: absolute;*/
    background-color: #E4EAF3;
    border-top: 5px solid #A96FD7;
}

.footerone {
    float: left;
    height: 50px;
    width: 257px;
    font-family: Roboto;
    padding-left: 30px;
    margin-top: 5px;
}

.footertwo {
    height: 50px;
    float: left;
    font-family: Roboto;
    font-size: 10px; 
    margin-top: 15px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

form{
    padding-top: 30px;
}